In [22]:
# Import
%matplotlib inline

import os
import os.path as op
import math
import numpy as np
from matplotlib import pyplot as plt


import seaborn as sns

import pandas as pd



%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']
df = pd.DataFrame(lst, index =['a', 'b', 'c', 'd', 'e', 'f', 'g'],
                                              columns =['Names'])
df['test'] = ['1', '1', '3', '2', '2', '1', '2']
df

    Names test
a   Geeks    1
b     For    1
c   Geeks    3
d      is    2
e  portal    2
f     for    1
g   Geeks    2

In [8]:
# Convert INCLAS to numeric but with possiblity of several observations for each patient
df = pd.concat([df, pd.get_dummies(df.test)], 1).groupby(['Names']).sum().reset_index()
df

C:\Users\felic\AppData\Local\Temp\ipykernel_24984\3284604952.py:2: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  df = pd.concat([df, pd.get_dummies(df.test)], 1).groupby(['Names']).sum().reset_index()
C:\Users\felic\AppData\Local\Temp\ipykernel_24984\3284604952.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df = pd.concat([df, pd.get_dummies(df.test)], 1).groupby(['Names']).sum().reset_index()

    Names  1  2  3
0     For  1  0  0
1   Geeks  1  1  1
2     for  1  0  0
3      is  0  1  0
4  portal  0  1  0

In [2]:
data_description_folder = 'data'
data_folder = op.join(os.getcwd(), data_description_folder, 'DATA_2022-09-01')
DM = pd.read_csv(op.join(data_folder, 'DM_2022-09-01.csv'), sep=',', low_memory=False) 
DM.name = 'DM'

In [3]:
DM.USUBJID[DM.COUNTRY=='ZAF'].unique()

array([114640, 302891, 224604, ..., 331862, 553774, 475274], dtype=int64)

In [5]:
data_folder = op.join(os.getcwd(), data_description_folder, 'DATA_2022-09-01')
mylist = []
for chunk in pd.read_csv(op.join(data_folder, 'IN_2022-09-01.csv'), sep=',', low_memory=False, chunksize=5000):
    mylist.append(chunk)
IN = pd.concat(mylist, axis=0)
IN.name = 'IN'
del mylist

In [16]:
vac = IN.loc[IN.USUBJID.isin(DM.USUBJID[DM.COUNTRY=='ZAF'].unique()), ['INCLAS', 'USUBJID']]

In [21]:
test = vac[vac.INCLAS=='VACCINES'].drop_duplicates()
test.shape

(488640, 2)

In [11]:
len(DM.USUBJID[DM.COUNTRY=='ZAF'].unique())

488849

In [32]:
pd.DataFrame(DM.loc[DM.USUBJID.isin(DM.USUBJID[DM.COUNTRY=='ZAF'].unique()), ['RFSTDTC']].RFSTDTC.value_counts()).sort_index()

         RFSTDTC
2020-03      411
2020-04     1401
2020-05     5854
2020-06    18427
2020-07    38787
2020-08    20062
2020-09     9078
2020-10     7970
2020-11    11208
2020-12    40023
2021-01    54550
2021-02    12846
2021-03     7898
2021-04     7671
2021-05    14079
2021-06    33441
2021-07    53766
2021-08    37071
2021-09    15812
2021-10     4201
2021-11     4472
2021-12    34813
2022-01    19557
2022-02     7174
2022-03     4240
2022-04     5101
2022-05    10744
2022-06     3829
2022-07      952